@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "chosen";


body {
  background-color: rgba(24, 105, 63, 0.9);
}

.body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
}

.container {
.sign_in {
  padding-top: 10%;
}

 .form {
  max-width: 300px;
  padding: 29px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgb(227, 227, 227);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.navbar-nav > li > a {
  padding-top:5px !important;
  padding-bottom:5px !important;
}

.navbar {
  min-height:48px !important
}

.col-middle {
  height: 100%;
  vertical-align: middle;
}

.navbar-nav li a {
  line-height: 38px;
  font-size: 18px;
}

.navbar-text{
  line-height: 17px;
  font-size: 18px;
}

.dropdown-menu {
  min-width:auto;
  width:100%;
}
